body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0; /* 设置柔和的背景颜色 */
    color: #333; /* 设置文字颜色 */
}

#treasure-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; /* 设置内容区域的背景颜色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

.step img {
    max-width: 100px;
    margin-right: 20px;
}

.step p {
    margin: 0;
    font-size: 18px;
}

.step.show {
    opacity: 1;
}

.step.hidden {
    opacity: 0;
}

#dice-container {
    margin-top: 20px;
    display: none;
    background-color: burlywood; /* 设置内容区域的背景颜色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dice-container img {
    width: 100px;
    height: 100px;
}

#dice-container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#dice-result {
    margin-top: 10px;
    font-size: 18px;
}